.login-input,
.login-select {
  width: 100%;
  padding: 10px 10px;
  outline: none;
  background-color: transparent;
  color: white;
}
.login-input:focus,
.login-select:focus {
  border: 1px solid #fde047;
}
.fullForm {
  padding: 48px 28px;
}
.forget-password {
  cursor: pointer;
  color: #ff6600;
}
.swal2-styled.swal2-confirm {
  background-color: #fde047 !important;
}
.swal2-x-mark-line-left,
.swal2-x-mark-line-right {
  background-color: #fde047 !important;
}
.swal2-icon.swal2-error {
  border-color: #fde047 !important;
}
.toggle-icon {
  cursor: pointer;
}
